In [8]:
import io
import os
import matplotlib.pyplot as plt
import numpy as np 
import pandas as pd 

import boto3
import sagemaker
from sagemaker import get_execution_role

%matplotlib inline

In [9]:
# sagemaker session, role
sagemaker_session = sagemaker.Session()
role = sagemaker.get_execution_role()

# S3 bucket name
bucket = sagemaker_session.default_bucket()

In [23]:
s3 = boto3.resource('s3')
s3c = boto3.client('s3')
b = s3.Bucket('sagemaker-mlai-harvesting')
b.name

'sagemaker-mlai-harvesting'

In [39]:
!mkdir data
b.download_file( 'data/MLAI_ParsedDataSet.tsv', 'data/data.tsv')

# !head data/data.tsv

mkdir: cannot create directory ‘data’: File exists

In [41]:
txn = pd.read_csv('data/data.tsv',sep='\t')

In [42]:
txn.head()

,Act,Activity,Log_Time,CustID,CustName,MarketID,CustCountry,CustState,GroupID,ProfID,...,Search_Term,Num_of_Results,DbName,AN,Retrieval_Format,Retrieval_Mode,Checkout_Result,Checkout_Type,Violation_Type,Bad_Actor
0,121,Search Click,2019-05-01 19:00:00.000,s8989762,COLUMBIA COLLEGE,academic,UNITED STATES,ILLINOIS,main,ehost,...,new jobs new inequalities,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,115,Retrievals,2019-05-01 19:00:00.000,s8983751,UNIV OF LA VERNE,academic,UNITED STATES,CALIFORNIA,main,ehost,...,NaN,NaN,aph,96191495,Abstract,View,NaN,NaN,NaN,0
2,115,Retrievals,2019-05-01 19:00:01.000,s8969716,SHENANDOAH UNIVERSITY,academic,UNITED STATES,VIRGINIA,main,ehost,...,NaN,NaN,e000xna,171851,Abstract,View,NaN,NaN,NaN,0
3,111,Session Start,2019-05-01 19:00:01.000,s8987536,FLORIDA A & M UNIV,academic,UNITED STATES,FLORIDA,main,wsapi,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,121,Search Click,2019-05-01 19:00:01.000,s8987536,FLORIDA A & M UNIV,academic,UNITED STATES,FLORIDA,main,wsapi,...,mass incarceration,17533.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [51]:
txn['Act'].unique().sort()